.page-cadastro {
    padding-top: 80px;
}

.navCadastro {
    margin: auto;
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.navCadastro button {
    background-color: #000;
    color: #fcfcfc;
    border-radius: 10px;
    font-weight: bold;
}