.footer {
    background-color: #f2f2f2;
    padding: 20px;
    width: 100%;
  }
  
  .moving-text {
    color: #26a449;
    font-weight: bold;
    text-align: center;
    animation: moveText 10s linear infinite;
  }
  
  @keyframes moveText {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    5%, 95% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  
  
  